<div class="page becomeTrainer" name="becomeTrainer">
  <div class="row">        
    <div class="col-xs-12">
      <div class="quote-panel-background">
        <h2 class="step-title">Щоб стати тренером Вам необхідно створити запит до координатору відповідного розділу.</h2>
          <div class="col-md-4 col-md-offset-4">
           
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="buttons-block"> 
        <button class="send">
            <span>Надіслати запит</span>
            <i class="icon icon-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>    
</div>