<div class="page" name="main-page">
    <h3>УКРАЇНА</h3>
    <h3>МІНІСТЕРСТВО  ОСВІТИ  І  НАУКИ УКРАЇНИ</h3>
    <h3>ДНІПРОПЕТРОВСЬКИЙ НАЦІОНАЛЬНИЙ УНІВЕРСИТЕТ</h3>
    <h3>ІМЕНІ ОЛЕСЯ ГОНЧАРА</h3>
    <p style="text-align: center;">49010, м.Дніпропетровськ, 10, пр. Гагаріна, 72, телефон (056) 374-98-00, (056) 374-98-01,</p>
    <p style="text-align: center;"> факс (056) 374-98-42, E-mail: cdep@mail.dnu.dp.ua</p>
    <p style="text-align: center;">
    У 2014/2015 навчальному році І (обласний) етап Всеукраїнської 
    студентської олімпіади з програмування буде проводитися синхронно по всій 
    Україні на одному наборі задач, як 1/8 фіналу студентської першості світу з 
    програмування. Для створення рівних умов і забезпечення контролю за 
    дотриманням правил світової першості, команди всіх університетів кожного
    регіону України мають зібратися на змагання в базових ВНЗ І етапу.
</p>
<p style="text-align: center;">
      За наказом Міністерства освіти і науки України
    №276 від 12.03.2015р. у Дніпропетровському регіоні України базовим ВНЗ
    І етапу призначений Дніпропетровський національний університет
    імені Олеся Гончара (ДНУ).
</p>
<p style="text-align: center;">
      І етап Олімпіади відбудеться 25 квітня 2015 р. в ДНУ.
</p>
<p style="text-align: center;">
      До участі в І етапі запрошуються всі бажаючі команди всіх ВНЗ
    Дніпропетровської області.
</p>
<p style="text-align: center;">
    Регламент олімпіади визначається регламентом студентської першості 
    світу з програмування (http://icpc.baylor.edu/):
    * Команда складається з трьох студентів.
    * Кожній команді надається один комп’ютер
    * Командам буде запропоновано 10-15 задач різної складності, 
    викладених українською та англійською мовами, тривалість змагань 
    – 5 годин без перерви.
    * Користування допоміжними джерелами інформації, словниками та 
    електронними пристроями не дозволяється.
    * Мовами програмування на ІІ етапі олімпіади є: С, С++, Java, Pascal.
    * Перевірка розв'язків здійснюється автоматично, через Інтернет, з 
    використанням он-лайн системи проведення олімпіад ejudge.
</p>
<p style="text-align: center;">
      Для участі в олімпіаді кожна команда повинна В ПЕРШУ ЧЕРГУ зареєструватись
    на сайті світової студентської першості світу з програмування, за адре-сою:
    <a href="http://icpc.baylor.edu"><u>http://icpc.baylor.edu/</u></a>.
    та на сайті Всеукраїнських студентських олімпіад з програмування за адресою:
    <a href="http://icpc.org.ua"><u>http://icpc.org.ua/</u></a>.
</p>
<p style="text-align: center;">
        Шаблон форми, а також інструкції з реєстрації можна завантажити за посиланнями, які наведені нижче.
</p>
<p style="text-align: center;">
        Для набуття навичок роботи в системі ejudge та відпрацювання організаційних питань,
      заплановане проведення загальних он-лайн тренувань для всіх бажаючих команд.
      Для участі в тренуванні зареєстровані команди
      кожного ВНЗ мають отримати логіни і паролі доступу в систему ejudge у відповідального
      секретаря олімпіади.
</p>
<p style="text-align: center;">
      Контактна інформація 
      Відповідальний секретар олімпіади – Хижа Олександр Леонідович,
      е-mail: DNU@icpc.org.ua; тел. (056) 46-10-97. 
</p>
<p style="text-align: center;">
      Адреса Дніпропетровського національного університету імені Олеся Гончара:
    49010, м. Дніпропетровськ, проспект Гагаріна, 72.
      Адреса факультету прикладної математики, на базі якого проходитиме олімпіада: 
    49044,  м. Дніпропетровськ, проспект Карла Маркса, 35. Їхати від 
      залізничного вокзалу трамваєм №1 до зупинки "Історичний музей".
</p>
<p style="text-align: center;">
    Голова оргкомітету олімпіади
    проректор з наукової роботи                 В.І. Карплюк 
</p>
<a href="Instructions.rar" style="font-size: 15">Інструкції з реєстрації на сайті Міжнародної олімпіади <u>icpc.baylor.edu</u>.</a><br>
<a href="http://icpc.org.ua/docs/guidance" style="font-size: 15">  Інструкція з реєстрації на сайті Всеукраїнської студентської олімпіади з програмування <u>icpc.org.ua</u>.</a><br>   
</div>