<div class="page feedbackPage" name="feedback">
  <div class="row">        
    <div class="col-xs-12">
      <div class="quote-panel-background">
        <h2 class="step-title">З допомогою форми зворотнього зв'язку Ви можете зв'язатися з адміністрацією сайту.</h2>   
          <div class="col-md-4 col-md-offset-4 col-xs-12">          
            <label>Ім'я</label>
            <input type="text" class="name" placeholder="Прізвище та ім'я" regex="^[\bc *a *t *s\bа-яА-ЯіЇєІЇЄ]{1,}$">
            <label>Емейл</label>
            <input type="email" class="email" placeholder="Ваш email" regex="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <label>Комментар</label>
            <textarea class="comment" cols="32" rows="5" placeholder="Будь ласка залиште свій коментар" regex="^[[\bc *a *t *s\ba-zA-Zа-яА-ЯіЇєІЇЄ0-9,\.]{1,}$"></textarea>
          </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="buttons-block">
        <button class="send">                  
            <span>Надіслати</span>
            <i class="icon icon-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>    
</div>