<footer class="footer">
  <div class="primary-footer">
    <div class="footer-list match-height">
      <ul>
        <li>
          <a class="empty-link">Авторизація</a>
        </li>
        <li>
          <a href="#"  dest="">FAQ</a>
        </li>
        <li>
          <a href="#"  dest="">Відомості</a>
        </li>
      </ul>
    </div>
    <div class="footer-list match-height">
      <ul>
        <li>
          <a class="empty-link">Про сайт</a>
        </li>
        <li>
          <a href="#"  dest="">Інформація</a>
        </li>
      </ul>
    </div>
    <div class="footer-list match-height">
      <ul>
        <li>
          <a class="empty-link">Зворотній зв'язок</a>
        </li>
        <li>
          <a href="#"  dest="feedback">Знайшли помилку? Повідомте про неї!</a>
        </li>
      </ul>
    </div>
  </div>   
  <div class="secondary-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li>
              <a href="http://trifle.net" target="_blank">Trifle</a>
            </li>
            <li>
              <a href="http://www.apriorit.com" target="_blank">Apriorit</a>
            </li>
          </ul>
          <section class="social-footer">
            <ul>
              <li>
                <a href="#" target=""  dest="">
                  <i class="icon icon-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#" target=""  dest="">
                  <i class="icon icon-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#"  dest="">
                  <i class="icon icon-linkedin"></i>
                </a>
              </li>
            </ul>
          </section>
          <p>© 2017</p>
        </div>
      </div>
    </div>
  </div>
</footer>
