<footer class="footer">
  <div class="primary-footer">
    <div class="footer-list match-height">
      <ul>
        <li>
          <a class="empty-link">Authorization</a>
        </li>
        <li>
          <a href="/link" >Pre-authorisation quick guide</a>
        </li>
        <li>
          <a href="/link" >Lorem ipsum dolor sit amet</a>
        </li>
        <li>
          <a href="/link" >Lorem ipsum dolor sit amet</a>
        </li>
      </ul>
    </div>
    <div class="footer-list match-height">
      <ul>
        <li>
          <a class="empty-link">Lorem ipsum dolor sit amet</a>
        </li>
        <li>
          <a href="/link">Lorem ipsum dolor sit amet</a>
        </li>
      </ul>
    </div>
    <div class="footer-list match-height">
      <ul>
        <li>
          <a class="empty-link">Lorem ipsum dolor sit amet</a>
        </li>
        <li>
          <a href="/link" >Lorem ipsum</a>
        </li>
        <li>
          <a href="/link" >Lorem ipsum</a>
        </li>
      </ul>
    </div>
    <div class="footer-list match-height">
      <ul>
        <li>
          <a class="empty-link">Lorem ipsum dolor sit amet</a>
        </li>
        <li>
          <a href="/link" >Lorem ipsum</a>
        </li>
        <li>
          <a href="/link" >Lorem ipsum</a>
        </li>
      </ul>
    </div>
    <div class="footer-list match-height">
      <ul>
        <li>
          <a class="empty-link">Lorem ipsum dolor sit amet</a>
        </li>
        <li>
          <a href="/link" >Lorem ipsum</a>
        </li>
        <li>
          <a href="/link">Lorem ipsum</a>
        </li>
        <li>
          <a href="/link">Lorem ipsum</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="secondary-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li>
              <a href="/link" >Lorem ipsum</a>
            </li>
            <li>
              <a href="/link" >Lorem ipsum</a>
            </li>
            <li>
              <a href="/link" >Lorem ipsum</a>
            </li>
            <li>
              <a href="/link" >Lorem ipsum</a>
            </li>
            <li>
              <a href="/link" >Lorem ipsum</a>
            </li>
            <li>
              <a href="/link" >Lorem ipsum</a>
            </li>
            <li>
              <a href="/link" >Lorem ipsum</a>
            </li>
            <li>
              <a href="/link" >Lorem ipsum</a>
            </li>
            <li>
              <a href="/link" >Lorem ipsum</a>
            </li>
          </ul>
          <section class="social-footer">
            <ul>
              <li>
                <a href="#" target="" >
                  <i class="icon icon-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#" target="" >
                  <i class="icon icon-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" >
                  <i class="icon icon-linkedin"></i>
                </a>
              </li>
            </ul>
          </section>
          <p>© 2016</p>
        </div>
      </div>
    </div>
  </div>
</footer>
