<footer class="footer">
  <div class="primary-footer">
    <div class="footer-list match-height">
      <ul>
        <li>
          <a class="empty-link">Авторизация</a>
        </li>
        <li>
          <a href="/link" >FAQ</a>
        </li>
        <li>
          <a href="/link" >Ведомости</a>
        </li>
        <li>
          <a href="/link" >Гайды</a>
        </li>
      </ul>
    </div>
    <div class="footer-list match-height">
      <ul>
        <li>
          <a class="empty-link">О сайте</a>
        </li>
        <li>
          <a href="/link">Общая информация</a>
        </li>
      </ul>
    </div>
    <div class="footer-list match-height">
      <ul>
        <li>
          <a class="empty-link">Обратная связь</a>
        </li>
        <li>
          <a href="/link" >Нашли ошибку? Сообщите нам!</a>
        </li>
      </ul>
    </div>
  </div>   
  <div class="secondary-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li>
              <a href="/link" >Партнерский сайт 1</a>
            </li>
            <li>
              <a href="/link" >Партнерский сайт 2</a>
            </li>
            <li>
              <a href="/link" >Партнерский сайт 3</a>
            </li>
          </ul>
          <section class="social-footer">
            <ul>
              <li>
                <a href="#" target="" >
                  <i class="icon icon-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#" target="" >
                  <i class="icon icon-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" >
                  <i class="icon icon-linkedin"></i>
                </a>
              </li>
            </ul>
          </section>
          <p>© 2016</p>
        </div>
      </div>
    </div>
  </div>
</footer>
