<header class="header header-branding">
  <nav class="utility-navigation">
   <p>РЕГІОНАЛЬНИЙ ДИСТАНЦІЙНИЙ ЦЕНТР УЧНІВСЬКИХ ТА СТУДЕНТСЬКИХ ОЛІМПІАД</p>
    <ul class="secondary hidden-sm hidden-xs">
      <li>
        <a dest="login" ><i class="icon icon icon-login"></i>Увійти</a>
      </li>
      <li>
        <a dest="feedback" ><i class="icon icon-phone"></i>Зворотній зв'язок</a>
      </li>
    </ul>
  </nav>
  <nav class="main-navigation">
    <div class="alternative-logo">
      <a href="/" class="" title="" >
        <img src="images/gerb_first.gif" alt="" />        
      </a>
      <a href="/" class="" title="" >
        <img src="images/gerb_second.png" alt="" />      
      </a>      
    </div>
    <a href="#" class="dual-logo-mobile hidden-md hidden-lg hidden-xl" ></a>
    <ul class="primary hidden-sm hidden-xs">
    </ul>
  </nav>
  <ul class="mobile visible-sm visible-xs">
    <li>
      <a id="init-mobile-nav" class="menu-btn" title="Open navigation" >
        <i class="icon icon-menu"></i>
      </a>
    </li>
  </ul>
</header>
