<nav class="pushy pushy-left mobile-navigation">

  <ul class="mobile">

    <li class="mobile-back-navigation">
      <i class="icon-chevron-left"></i>
    </li>
    <li>
      <a class="sb-close" title="open navigation" data-tracking="">
        <i class="icon icon-close"></i>
      </a>
    </li>

  </ul>

</nav>