<div class="page profile" id="profile" name="profile">
  <h2>Особистий кабінет</h2>
  <div class="row">        
    <div class="col-xs-12">
      <div class="user-info-block">
        <p>Користувач:</p>
        <p class="user-info"></p>
      </div>
      <div class="user-info-block">
        <p>Email:</p>
        <p class="user-email"></p>
      </div>      
    </div>
    <div class="col-xs-12">
      <div class="buttons-block">
        <a dest="becomeTrainer">          
          <button>                  
              <span>Стати тренером</span>
              <i class="icon icon-chevron-right"></i>
          </button>
        </a>
        <a dest="userAddInfo">          
          <button>                  
              <span>Вказати додаткову інформацію</span>
              <i class="icon icon-chevron-right"></i>
          </button>
        </a>
      </div>
      <div class="buttons-block">
        <button class="logout">                  
              <span>Вийти</span>
              <i class="icon icon-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>