<div class="page regPage" name="regPage">
  <div class="row">        
    <div class="col-md-12">
      <div class="quote-panel-background">
        <h2 class="step-title">Реєстрація</h2>   
          <div class="col-md-4 col-md-offset-2 col-xs-12">
            <label>Емейл</label>
            <input type="email" id="email" placeholder="Ваш email">
            <label>Пароль</label>
            <input type="password" id="password" placeholder="Ваш пароль">
            <label>Введіть пароль ще раз</label>
            <input type="password" id="password_copy" placeholder="Повторіть пароль">
          </div>
          <div class="col-md-4 сol-md-offset-2 col-xs-12">
            <label>Ім'я</label>
            <input type="text" id="name" placeholder="Ім'я">
            <label>Фамілія</label>
            <input type="text" id="surname" placeholder="Фамілія">
            <label>По батькові</label>
            <input type="text" id="father_name" placeholder="По батькові">
          </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="buttons-block">
        <button class="reg">                  
            <span>Зареєструватись</span>
            <i class="icon icon-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>    
</div>