<div class="page userAddInfo hidden" name="userAddInfo">
  <div class="row">        
    <div class="col-xs-12">
      <div class="quote-panel-background">
        <h2 class="step-title">Для повноцінного використання нашої системи Вам необхідно вказати додаткову інформацію</h2>
        <div class="col-md-6 col-md-offset-3">
           <div class="input-group">
              <label>Дата народження</label>
              <input type="text" class="date-of-birth" placeholder="день/місяць/рік - (01/01/1970)" regex="^[0-9]{2}/[0-9]{2}/[0-9]{4}$">
              <p>Поле не може бути порожнім та має відповідати формату день/місяць/рік</p>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3">
          <div class="input-group">
              <label>Мобільний телефон</label>
              <input type="text" class="mobile-number" placeholder="Ваш мобільний телефон" regex="^[+]{0,1}[0-9]{9,12}$">
              <p>Поле не може бути порожнім і має містити лише цифри</p>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3">
          <label for="title">Тренер</label>
          <div class="custom-select-wrapper input-group">
            <i class="icon-chevron-down"></i>
            <select selected="false" class="chose-trainer">
              <option value="" disabled="" selected="">Вкажіть Вашого тренера</option>
            </select>
            <p>Вам необхідно вказати Вашого тренера</p>
          </div>
        </div>
        <div class="col-md-6 col-md-offset-3">
           <div class="input-group">
              <label>Учнівський заклад</label>
              <input type="text" class="study-place" placeholder="Ваш учнівський заклад" regex="^[[\bc *a *t *s\ba-zA-Zа-яА-ЯіЇєІЇЄ0-9№#&quot;'-:,\./]{1,}$">
              <p>Поле не може бути порожнім або містити недопустимі символи</p>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3">
          <div class="input-group">
              <label>Додаткова інформація</label>
              <textarea class="additional-info" cols="32" rows="5" placeholder="Додаткова інформація"
              regex="^[[\bc *a *t *s\ba-zA-Zа-яА-ЯіЇєІЇЄ0-9№#&quot;'-:,\./]{0,}$"></textarea>
              <p>Поле може містити лише: літери, цифри та символи / : , .</p>
            </div>
        </div>
      </div>        
    </div>
    <div class="col-xs-12">
      <div class="buttons-block"> 
        <button class="send">
            <span>Зберегти</span>
            <i class="icon icon-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>    
</div>