<div class="page userAddInfo" name="userAddInfo">
  <div class="row">        
    <div class="col-xs-12">
      <div class="quote-panel-background">
        <h2 class="step-title">Для повноцінного використання нашої системи Вам необхідно вказати додаткову інформацію</h2>
          <div class="col-md-4 col-md-offset-4">
           
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="buttons-block"> 
        <button class="send">
            <span>Зберегти</span>
            <i class="icon icon-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>    
</div>