<!DOCTYPE html>
<html lang="en">
        <head>
        <title>РЕГІОНАЛЬНИЙ ДИСТАНЦІЙНИЙ ЦЕНТР УЧНІВСЬКИХ ТА СТУДЕНТСЬКИХ ОЛІМПІАД</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="РЕГІОНАЛЬНИЙ ДИСТАНЦІЙНИЙ ЦЕНТР УЧНІВСЬКИХ ТА СТУДЕНТСЬКИХ ОЛІМПІАД">
        <meta name="keywords" content="РЕГІОНАЛЬНИЙ ДИСТАНЦІЙНИЙ ЦЕНТР УЧНІВСЬКИХ ТА СТУДЕНТСЬКИХ ОЛІМПІАД">
        <meta name="author" content="">
        <meta name="robots" content="">
        <meta name="apple-mobile-web-app-title" content="РЕГІОНАЛЬНИЙ ДИСТАНЦІЙНИЙ ЦЕНТР УЧНІВСЬКИХ ТА СТУДЕНТСЬКИХ ОЛІМПІАД">
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="application-name" content="РЕГІОНАЛЬНИЙ ДИСТАНЦІЙНИЙ ЦЕНТР УЧНІВСЬКИХ ТА СТУДЕНТСЬКИХ ОЛІМПІАД">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel=stylesheet href="/styles/fonts.min.css" type="text/css" />
        <link rel=stylesheet href="/styles/style_1.min.css" type="text/css" />
        <link rel=stylesheet href="/styles/style_2.min.css" type="text/css" />
        <link rel="shortcut icon" type="image/x-icon" href="http://www.ccw-global.com/site/templates/favicon.ico" />
        </head>
