.play-btn {
	width: 80px;
	height: 80px;
	background: $white;
	border-radius: 50%;
	display: table;
	position: absolute;
	left: 50%;
	margin-left: -40px;
	top: 50%;
	margin-top: -40px;
	cursor:pointer;

	&:after {
		text-align:center;
		content: "\e626";
		font-family: "bupa-iconfonts";
		speak: none;
		font-style: normal;
		font-weight: normal;
		vertical-align: middle;
		-webkit-font-smoothing: antialiased;
		@include font(2.6, 2.6, 400);
		display: table-cell;
		text-indent: 5px;
	}

	&.small {
		width:60px;
		height:60px;
		margin-left:-30px;
		margin-top:-30px;

		&:after {
			@include font(2.0, 2.0, 400);
		}
	}

	&.large {
		width:130px;
		height:130px;
		margin-left:-65px;
		margin-top:-65px;

		&:after {
			@include font(4.0, 4.0, 400);
		}
	}
	
	&.hidden-btn {
		display: none !important;
	}
}



.rtl{

	.play-btn{

		&:after{
			text-indent: -5px;
		}
	}
}


.quote-cta-wrapper {
  margin:0 auto;
  text-align: center;
}

.quote-cta-button {
  display: inline-block;
  color: $white;
  font-family: "Gotham A","Gotham B",Arial,serif;
  padding: 10px 15px;
  text-align: center;
  margin:5px;

  &.Orange {          background: $orange-1; color:$white;}
  &.Gold {            background: $gold; color:$white;}
  &.Silver {          background: $silver; color:$white;}
  &.Cyan {            background: $cyan; color:$white;}
  &.Navy {            background: $navy; color:$white;}
  &.Black {           background: $black; color:$white;}
  &.Charcoal {        background: $charcoal; color:$white;}
  &.Slate {           background: $slate; color:$white;}
  &.White {           background: $white; color:$black;}
  &.Teal {            background: $teal; color:$white;}
  &.Plum {            background: $plum; color:$white;}
  &.Aubergine {       background: $aubergine; color:$white;}
  &.Frost {           background: $frost; color:$black;}
  &.Lavender {        background: $lavender; color:$white;}
  &.Lilac {           background: $lilac; color:$white;}
  &.Fig {             background: $fig; color:$white;}
  &.Sky-Blue {        background: $sky-blue; color:$black;}
  &.Terracotta {      background: $terracotta; color:$white;}
  &.Pumpkin {         background: $pumpkin; color:$white;}
  &.Ocean {           background: $ocean; color:$white;}
  &.Fog {             background: $fog; color:$black;}
  &.Olive {           background: $olive; color:$white;}
  &.Highland-Green {  background: $highland-green; color:$white;}
  &.Sage {            background: $sage; color:$white;}
  &.Koala-Grey {      background: $koala-grey; color:$black;}
}
