
// CHECKBOXES & RADIOS
// -------------------
// <input type="checkbox" value="">
// <label class="input-helper-checkbox">
//  label name
// </label>
//
// <input type="checkbox" value="">
// <label class="input-helper-radio">
//  label name
// </label>

.input-helper-radio, .input-helper-checkbox{
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    cursor: pointer;

    &:before {
        display: block;
        position: absolute;
    }
}

//Checkbox
.input-helper-checkbox {
    padding-left: 48px;

    padding-top: 8px;

    &:before {
        content: "";
        top: 3px;
        left: 0;
        width: 29px;
        height: 29px;
        font-size: 0;
        line-height: 29px;
        padding-left: 3px;
        width: 29px;
        box-sizing: border-box;
    }

}


input[type="checkbox"] {
    display: none;

    &:checked + label{
        @extend .icon-check;

        &:before{
            font-family: 'bupa-iconfonts';
            font-size: 23px;
        }
    }

    &:focus + label {

        outline: 1px dotted;

    }
}
