

// *************************
// Rules for FRENCH
// *************************
html:lang(fr) {

  .stickyFooter {
    .sticky-btn {
      padding:0 2px;
    }
    a {
      font-size: 2rem;
      @media (max-width: $screen-md-max) {
        font-size: 1.6rem;
      }

      @media (max-width: $screen-sm-max) {
        font-size: 2.4rem;
      }

      @media (max-width: $screen-xs-max) {
        font-size: 1.6rem;
        font-weight: 400;
      }

      @media (max-width: 500px) {
        line-height: 15px;
        padding: 20px 0;
        font-weight: 400;
      }
    }
  }
}



// *************************
// Rules for SPANISH
// *************************
html:lang(es) {

  .stickyFooter {
    .sticky-btn {
      padding:0 2px;
    }
    a {
      font-size: 2rem;
      @media (max-width: $screen-md-max) {
        font-size: 1.6rem;
      }

      @media (max-width: $screen-sm-max) {
        font-size: 2.4rem;
      }

      @media (max-width: $screen-xs-max) {
        font-size: 1.6rem;
        font-weight: 400;
      }

      @media (max-width: 500px) {
        line-height: 15px;
        padding: 20px 0;
        font-weight: 400;
      }
    }
  }
}
