.tabbed-options {

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .tabs-index-wrapper {
        display: inline-block;
        width: 100%;

        li {
            float: left;
            background-color: darken(#f5f5f5, 10%);
            min-height: 98px;
            border-right: 2px solid $white;
            padding: 20px;
            cursor: pointer;

            &.active {
               background-color: #f5f5f5;
               display: block;

            }

            &:last-child {
                border-right: none;
            }
        }

        @media (max-width: $screen-md-max) {
            display: none;
        }
    }

    .tabs-wrapper {
       
        margin-top: -5px;
        .tab-inner {
            display: none;
            .tabs-mobile-heading {
                    display: none;
                }
            @media (max-width: $screen-md-max) {

                .tabs-mobile-heading {
                    display: block;
                }
                display: block;
                margin-bottom: 20px;

            }
            .tab-inner-cols {               
                 padding: 20px;
                background-color: #f5f5f5;
                display: inline-block;
                width: 100%;    
            }
            .accordion-tab-wrapper {
                .bupa-product-accordion-header {
                    margin-top: -5px;
                    display: inline-block;
                    width: 100%;
                }
            }
        }
    }
}