.pages {
    margin: 60px 0px;

    .page {
        text-align: center;

        p {
            text-align: left;
            margin: 0 10%;
        }
        &.errorPage {
            margin-bottom: 30px;

            p {
                text-align: center;
            }
        }
    }
}