.pages {
    margin: 60px 0px;

    .input-group {
        p {
            display: none;
            color: red;
        }
        &.error {
            input, textarea {
                border: 1px solid red !important;
                margin: 0;
            }
            p {
                display: block;
            }
        }
    }
    .panel-background {
        background: #fff;
        background: rgba(255,255,255,.8);
        display: inline-block;
        width: 100%;
        border-radius: 5px;
        padding: 20px 30px 15px;
    }
    .page {
        text-align: center;
        box-shadow: 0 10px 70px -10px #666;
        padding: 15px;

        p {
            text-align: left;
            margin: 0 10%;
        }
        input {
            border-radius: 0;
            padding: 15px;
            cursor: pointer;
            margin-bottom: 10px;
            font-size: 16px;
            width: 100%;
            font-weight: 500;
            height: 41px;
            color: #00335B;
            background: #fff;
            border: 1px solid #b2b2b2;
            border-top: 1px solid #666;
            padding: 10px 15px;
            -webkit-transition: all .4s;
            transition: all .4s;
            box-shadow: 0 10px 70px -10px #666;
        }
        button {
            display: block;
            align-self: center;
            width: 80%;
            margin: 6px 0px;

            &.login {
                background-color: #5fb053;
            }
            &.send {
                background-color: #DE5408;
            }
            &.reg {
                background-color: #0079c8;
            }

            @media (min-width: $screen-md-min) {
                width: 20%;
            }
        }
        label {
            text-align: left;
            display: block;
            font-size: 18px;
        }
        textarea {
            width: 100%;
        }
        .buttons-block {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                text-align: center;
            }
        }
        &.errorPage {
            margin-bottom: 30px;

            p {
                text-align: center;
            }
        }
        &.loginPage {
            a {
                align-self: center;
                color: inherit;
                width: 80%;

                button {
                    width: 100%;
                }
                @media (min-width: $screen-md-min) {
                    width: 20%;
                }
            }
        }
    }
}