.tooltips {

  //Opaque layer
  .veil {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: .35;
    display: none;
    @media (max-width: $screen-sm-min) {
      background:$black;
    }
  }


  .tooltip-trigger {
    cursor: pointer;
    font-size:1.3em;

    &.tooltip-label {
        display: block;
        text-align: center;
        font-size: 18px;

        i {
            font-size: 40px;
            vertical-align: middle;
        }
    }
  }

  .tooltip-text {
    max-width:35%;
    min-width:230px;
    display: none;
    position: absolute;
    padding: 15px 20px;
    border: 1px solid #b2b2b2;
    background:$white;
    z-index:500;
    line-height:17px;
    // box-shadow: 1px 1px 2px 0px #666;
    &.visible {
      display: block;
    }

    //tooltip arrow
    &:before {
      top:-5px;
      border: 1px solid #b2b2b2;
      background: $white;
      content: " ";
      height: 10px;
      width: 10px;
      position: absolute;
      pointer-events: none;
      right:10px;
      transform: rotate(45deg);
    }

    &:after {
      top: 0;
      background: $white;
      content: " ";
      height: 10px;
      width: 100%;
      position: absolute;
      pointer-events: none;
      left: 0;
    }

    .closeTooltip {
      display: none;
      font-size: 1.4em;
      position: absolute;
      top: 25px;
      right: 30px;
      cursor: pointer;

      //The close icon is visible only for small devices
      @media (max-width: $screen-sm-min) {
        display: block;
      }
    }


    @media (max-width: $screen-sm-min) {
      position:fixed;
      bottom:0;
      left:0;
      width:100%;
      max-width:100%;
      z-index: 99999;
      padding: 60px 25px;
      border: 1px solid $white;
      border-top: 1px solid #b2b2b2;

      //hide arrow on mobile
      &:before {display: none;}
      &:after {display: none;}
    }

  }
}


// Styles for bottom tooltip type
.tooltip-box.tooltip-right {
  .tooltip-text {
    min-width:230px;
    &:before {
      top: 50%;
      left: -5px;
      right:auto;
    }
    &:after {
      width:10px;
      height:100%;
    }
  }
}

.tooltip-box.tooltip-left {
  .tooltip-text {
    min-width:230px;
    &:before {
      top: -5px;
      left: 48%;
      right:auto;
    }
    &:after {
       width: 100%;
       height: 8px;
    }
  }
}
