<div class="background-quote">
        <div class="background-quote-image" style="opacity: 1; background-image: url(&quot;/images/prototype/large.jpg&quot;);"></div>
        <div class="background-quote-gradient"></div>
</div>