<% include ../layouts/top %>
  <body>
    <main class="main">
      <% include ../partials/header_new %>
      <div class="content">
        <div class="main-content">
          <% include ./content-for-main-page %>
        </div>
      </div>
      <% include ../partials/footer %>
    </main>
  <% include ../partials/mobile-nav %>
<% include ../layouts/bottom %>