<% include ../layouts/top %>
  <body>
    <main class="main">
      <% include ../partials/header %>
      <div class="content">
        <div class="pages">          
            <% include ./content-for-main-page %>
            <% include ./errorPage %>
        </div>
      </div>
      <% include ../partials/footer %>
    </main>
  <% include ../partials/mobile-nav %>
<% include ../layouts/bottom %>