<% include ../layouts/top %>
  <body>
    <main class="main">
      <% include ../partials/header %>
      <div class="content">
        <div class="pages">
          <div class="container">
            <% include ../partials/errorPage %>
            <% include ../partials/login %>
            <% include ../partials/regPage %>
            <% include ../partials/feedbackPage %>
            <% include ../partials/profile %>
            <% include ../partials/becomeTrainer %>
            <% include ../partials/userAddInfo %>
            <% include ../partials/lostPasswordPage %>
          </div>          
        </div>
      </div>
      <% include ../partials/footer %>
    </main>
  <% include ../partials/mobile-nav %>
<% include ../layouts/bottom %>